/* CSS global pour le menu et le header */

body {
  background-color: #fff !important;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0; 
  background-color: #fff;
  min-height: 80px;
  position: relative;
  overflow: visible;
  flex-wrap: nowrap;
  width: 100%;
  box-sizing: border-box !important;
}
.custom-logo-link {
  width: 300px;
}
/* section inner pleine largeur */
.section-inner {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  box-sizing: border-box;
}

.section-inner .post-meta {
  display: none; 
}
.header-titles-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  flex-shrink: 0;
}

.header-navigation-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
  flex-grow: 1; /* Permettre au menu de prendre l'espace disponible */
  flex-wrap: nowrap;
  width: 100%;
}

.primary-menu-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  flex-wrap: nowrap;
  flex-grow: 1;
  justify-content: flex-end;
  width: 100%;
}

.primary-menu {
  display: flex;
  align-items: center;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: nowrap;
  flex-grow: 1;
  justify-content: space-between;
  width: 100%;
}

.nav-menu {
  display: flex;
  align-items: center;
  height: 100%;
  flex-wrap: nowrap; 
}

.nav-menu li {
  margin-right: 20px;
  display: flex;
  align-items: center;
  height: 100%;
  flex-shrink: 1;
}

.nav-menu a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  height: 100%;
  white-space: nowrap;
  flex-grow: 1;
}

.header-navigation-wrapper .nav-menu a {
  color: #000;
}

.primary-menu a {
  color: black !important;
}

.primary-menu a:hover {
  text-decoration: none;
}

/* Styles spécifiques pour les écrans de plus de 1136px */
@media screen and (min-width: 1137px) {
  .header-inner {
    padding: 20px 120px;
  }

  .nav-menu li {
    margin-right: 20px; 
  }
}

/* Styles specifique pour les écrans Laptop 1024px */
@media screen and (max-width: 1024px) {
   .section-inner {
  padding-left: 20px;
  padding-right: 40px;
  }
}

/* Ajustement des tailles pour les écrans entre 769px et 1136px */
@media screen and (max-width: 1136px) {
  .nav-menu li {
    margin-right: 10px; /* Marge réduite pour les petits écrans */
  }

  .primary-menu a {
    font-size: 14px; 
  }
}

/* Styles pour masquer le menu normal en dessous de 1000px et afficher le menu burger */

@media screen and (max-width: 999px) {
  .primary-menu-wrapper,
  .header-navigation-wrapper .primary-menu {
    display: none; /* Masquer le menu normal */
  }

  .header-toggles .nav-toggle {
    display: block; /* Afficher le menu burger */
  }

  .mobile-menu {
    margin-top: 100px;
  }
}

/* Styles pour afficher le menu normal au-dessus de 1000px et masquer le menu burger */
@media screen and (min-width: 1000px) {
  .primary-menu-wrapper,
  .header-navigation-wrapper .primary-menu {
    display: flex; /* Afficher le menu normal */
  }

  .header-toggles .nav-toggle {
    display: none; /* Masquer le menu burger */
  }
}

/* Afficher le menu burger et autres uniquement en dessous de 769px */
@media screen and (max-width: 768px) {
  .nav-menu,
  .primary-menu-wrapper {
    display: none; /* Masquer le menu principal */
  } 
    
  .mobile-nav-toggle {
    display: block; /* Afficher le bouton burger */
  }

  .header-titles-wrapper {
    width: 100%;
    justify-content: space-between;
  }

  .header-navigation-wrapper {
    width: 100%;
    justify-content: flex-end;
  }

  .overlay-text p {
    font-size: 5px;
  }
}

/* ajustement sur les tailles écran 320px à 360px */
@media (min-width: 320px) and (max-width: 360px) {
  a.custom-logo-link {
    padding-right: 70px;
  }
}
  .elementor-27 .elementor-element.elementor-element-4f3edf3.elementor-element {
    margin-left: 0;
    margin-right: 10px;
  }

  .bouton-envoyer input[type="submit"] {
    margin-right: 0px;
  }

/* ajustement sur les tailles écrans entre 361px et 400px */
@media (min-width: 361px) and (max-width: 400px) {
  .elementor-element.elementor-element-86d2be6.elementor-widget.elementor-widget-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%;
  }
    .elementor-heading-title.elementor-size-default {
      font-size: calc(100% + 1vw);
      line-height: 1.2;
      word-wrap: break-word;
      max-width: 90%; /* Forcer le passage à la ligne */
    }
    .elementor-26 .elementor-element.elementor-element-22c5069 .elementor-heading-title {
      font-size: calc(100% + 3vw); /* 3vw permet d'avoir une taille de police Fraise correcte */
      line-height: 1.2;
      word-wrap: break-word;
      max-width: 90%; /* Forcer le passage à la ligne */
      white-space: nowrap; /* Empêcher le passage à la ligne pour le mot FRAISE */

    }
  }

  /* ajustement sur les tailles écrans entre 46Opx et 767px */
@media (min-width: 460px) and (max-width: 767px) {
  .elementor-26 .elementor-element.elementor-element-daf9cc0 img {
    width: 35%; 
    height: auto; /* Maintient le ratio de l'image */
    max-width: 80%; /* S'assurer que l'image ne dépasse pas son conteneur */
    margin-right: 50px; 
    margin-bottom: 100px;
   
  }
  .elementor-26 .elementor-element.elementor-element-6780d00 img {
    width: 35%; 
    height: auto; 
    max-width: 80%; 
    margin-right: 50px; 
    margin-bottom: 100px; 
  }
  .elementor-26 .elementor-element.elementor-element-b9c0b0d img {
    width: 35%; 
    height: auto; 
    max-width: 80%; 
    margin-right: 50px; 
    margin-bottom: 120px; 
  }
}

/* ajustement media a 750px max  */
@media screen and (max-width: 750px) {
  .elementor-27 .elementor-element.elementor-element-bf00d50 > .elementor-widget-container {
margin: 0;
padding: 0;
}

.bloc-commander 
.bloc-gauche 
.bloc-droite {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  font-size: 15px !important;
}

.barre-verticale {
  margin: 5px;
}

.bloc-gauche h2 {
  font-size :15px;
}
}

/* bouton commmander 320px à 399px */
@media (min-width: 320px) and (max-width: 399px) {
  .bouton-commander input[type="submit"] {
    margin-right: 70px;
  }
  .bouton-envoyer input[type="submit"] {
    margin-right: 70px;
  }
}

/* Autres ajustements de style */
.menu-nous-rencontrer a,
.menu-admin a {
  color: black !important;
  padding-right: 20px;
}

.menu-commander {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-commander a {
  background-color: #e0b9b4;
  color: white !important;
  display: block;
  margin: 0;
  height: 80px;
  width: 200px;
  text-align: center;
  line-height: 80px;
}

.menu-commander a:hover {
  background-color: #c02e44;
}

.menu-nous-rencontrer a:hover,
.menu-admin a:hover {
  transform: scale(0.85);
  font-weight: bold;
}

/* Footer */

#site-footer {
  display: flex;
  justify-content: center;
  border: none;
  font-family: Syne;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: center;
  margin-top: 0 !important;
}

#site-footer a {
  text-decoration: none;
  color: #000;
}

/* modification page d'accueil */

.home .entry-title {
  display: none;
}

/* Suppression de l'élément entry-header sur la page d'accueil */
.home .entry-header {
  display: none;
}

/* Ajustement du contenu de la page d'accueil pour remonter sous le header principal */
.home .site-main {
  margin-top: 0;
  padding-top: 0;
}

/* formulaire page nous-rencontrer */

.formulaire-contacter {
  font-family: syne;
  font-weight: 400;
  font-size: 20px;
}

.formulaire-contacter h2 {
  font-family: syne;
  font-weight: 700;
  font-size: 30px;
}

.bouton-envoyer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: 70px;
  padding-top: 50px;
}

.formulaire-contacter input[type="text"],
.formulaire-contacter input[type="email"],
.formulaire-contacter textarea {
    border-radius: 7px; 
    margin-top: 10px; /* marge entre les labels et les pavés */
}

/* pavé message taille supérieure en hauteur */
.formulaire-contacter textarea {
  height: 230px;
}

.bouton-envoyer input[type="submit"] {
  width: 200px; 
  height: 55px; 
  background-color: #e0b9b4;
  border-radius: 5px;
  font-family: syne;
  font-weight: 400;
  font-size: 15px;
  text-transform: none;
}

.bouton-envoyer input[type="submit"]:hover {
  background-color: #c02e44;
  text-decoration: none; /* le texte n'est plus souligné au survol */
}

/* modification du conteneur du formulaire nous contacter */

.e-con-inner {
  padding-bottom: 0 !important; /* cannettes au bas du conteneur */
}

/* formulaire page commander */

.item-commander {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

@media (max-width: 905px) {
  .item-commander {
    justify-content: center;
  }
  .item-commander > div {
    flex: 0 1 calc(50% - 10px); /* Chaque élément prendra la moitié de la largeur moins le gap */
    margin-bottom: 10px; /* Ajoute un espace en bas pour éviter que les éléments se touchent verticalement */
  }
}

.compteur {
  display: flex;
  flex-direction: column;
  justify-content: center; /* centre le contenu horizontalement */
  align-items: center; /* centre le contenu verticalement */
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.nombre_article {
  width: 40px !important;
  height: 55px !important;
  display: flex;
  padding: 0 !important;
  text-align: center;
}

.barre-horizontale {
  border: 1px solid white;
}

.bloc-commander {
  display: flex;
  justify-content: space-between;
}

.bloc-commander h2 {
  color: white; 
  font-size: 30px !important; 
  font-weight: 700 !important; 
}

.saisie-form {
  color: white; 
  font-size: 20px !important; 
  font-weight: 400 !important; 
  font-family: syne !important;
  border-radius: 7px !important;
}

.bloc-commander .saisie-form input[type="text"],
.bloc-commander .saisie-form input[type="email"],
.bloc-commander .saisie-form input[type="textarea"] {
  border-radius: 7px;
  margin-top: 10px;
}

/* Gérer les marges entre 750px et 920px */
@media (min-width: 750px) and (max-width: 920px) {
  .barre-verticale {
    margin-left: 2px; 
    margin-right: 2px; 
  }
  
  .bloc-gauche, .bloc-droite {
    padding-left: 2px; 
    padding-right: 2px; 
  }
}

/* Réduction de la taille de police en dessous de 587px */
@media (max-width: 587px) {
  .bloc-commander h2 {
    font-size: 16px !important; 
  }
}
   .saisie-form {
    font-size: 9px !important; 
}

/* Pour les écrans en dessous de 349px */
@media screen and (max-width: 349px) {
  .saisie-form label {
    font-size: 12px; /* Taille de la police spécifiée pour les très petits écrans */
  }
}

.barre-verticale {
  border: 1px solid white;
  margin-top: 50px;
}

.bouton-commander {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: 80px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.bouton-commander input[type="submit"] {
  width: 200px; 
  height: 55px; 
  background-color: #e0b9b4;
  border-radius: 5px;
  font-family: syne;
  font-weight: 400;
  font-size: 15px;
  text-transform: none;
}

.bouton-commander input[type="submit"]:hover {
  background-color: #c02e44;
  text-decoration: none; /* le texte n'est plus souligné au survol */
}

.image-container {
  position: relative;
  width: 100%;
}

.image-container img {
  display: block;
  width: 205px;
  height: auto;
  object-fit: cover;
}

.overlay-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; 
  font-size: 20px;
  font-weight: 800; 
  font-family: syne;
  width: 100%; /* s'assurer que le conteneur de texte prend toute la largeur */
  white-space: nowrap; /* empêche les retours à la ligne automatique */
  text-align: center; /* centre le texte horizontalement */
}